language:
 - python

python:
  - 3.6

services:
  -postgresql


before_script:
  - psql -c 'create database mydiarydb;' -U postgres
  - psql -c 'create database testdb;' -U postgres
  - psql -c "CREATE USER hassan WITH PASSWORD 'andela';" -U postgres
  - psql -c "CREATE USER hassan WITH passan '123';" -U postgres

install:
  - pip install -r requirements.txt
  - pip install coveralls

script:
  - pytest
  - coverage run --source=Api_v1.app -m pytest  && coverage report


after_success:
  - coveralls
