@import url('https://fonts.googleapis.com/css?family=Montserrat');
html {
    font-family: 'Montserrat', sans-serif;
    background: #DCDCDC top center no-repeat;
}

header {
    background: #DCDCDC top center no-repeat;
    width: 100%;
    padding: 10px 0;
    color: black;
    text-align: center;
}

header h1,
h5 {
    letter-spacing: 20px;
}

.fas:hover {
    background: whitesmoke;
}

nav ul {
    background-color: darkgray;
    color: white;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

nav ul li {
    display: inline-block;
    padding: 20px;
}

nav ul li:hover {
    background-color: #dcdcdc;
}

a {
    text-decoration: none;
    color: inherit;
}

.module .body {
    background: rgba(27, 43, 53, 1);
}

.instance {
    padding: 10px 10px;
    background: #EFEFEF;
}

.property {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 1px 0px;
    background: #EFEFEF;
}

.property {
    overflow: hidden;
    height: 60px;
}

.function_title {
    text-align: right;
    color: white;
}

.module-wrapper {
    margin-top: 30px;
}

.module {
    box-shadow: 2px 2px 2px 0px #f2f2f2;
    margin-bottom: 25px;
    padding-left: 0px;
    padding-right: 30px;
    margin-right: 0px;
    border-radius: 5px 5px 0px 0px;
    background: #EFEFEF;
}

.module .head {
    padding: 5px;
    border-bottom: 1px solid darkgray;
    color: black;
    font-size: 20px;
}

.edit {
    font-family: "Font Awesome 5 Free";
    float: right;
    margin: 0px 10px;
    color: black;
    font-size: 18px;
    min-height: 25px;
}

.edit:before {
    font-family: "Font Awesome 5 Free";
    content: "\f274";
    min-height: 25px;
}

.history {
    font-family: "Font Awesome 5 Free";
    float: right;
    margin: 0px 10px;
    color: black;
    font-size: 18px;
    min-height: 25px;
}

.history:before {
    font-family: "Font Awesome 5 Free";
    content: "\f017";
    min-height: 25px;
}

.body a {
    color: darkred;
}

footer {
    text-align: center;
    width: 100%;
    font-size: 0.8em;
    padding-bottom: 30px;
}

/* * Simple reminder switch */

.switch {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 25px;
    border-radius: 20px;
    background: #dfd9ea;
    transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    vertical-align: middle;
    cursor: pointer;
}

.switch::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 2px;
    width: 22px;
    height: 22px;
    background: #fafafa;
    border-radius: 50%;
}

.switch:active::before {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28), 0 0 0 20px rgba(128, 128, 128, 0.1);
}

input:checked+.switch {
    background: #72da67;
}

input:checked+.switch::before {
    left: 27px;
    background: #fff;
}

input:checked+.switch:active::before {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28), 0 0 0 20px rgba(0, 150, 136, 0.2);
}